:root {
    --width: 300px;
    --padding: 5px;
    --bgcolor: rgb(52, 52, 52);
    --hovercolor: rgb(23, 23, 23);
    --width-collapsed: 50px;
}

body {
    background-color:#c3e3fdff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);
}

.body-expanded {
    margin-left: var(--width);
}

#sidebar {
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}

#sidebar a {
    color: white;
    text-decoration: none;
}

#sidebar #header {
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}

#sidebar  #header #title {
    box-sizing: border-box;
    overflow: hidden;
}

#sidebar #header #title, #sidebar #header #menu-sidebar {
    vertical-align: middle;
}

#sidebar #header #menu-sidebar {
    display: inline-block;
}

#sidebar #header #menu-sidebar {
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidebar #header #menu-sidebar:hover {
    background-color: var(--hovercolor);

} 

#sidebar #header #menu-sidebar .btn-hamburger {
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

#sidebar #profile {
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}

#sidebar #profile #photo {
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}
#sidebar #profile #photo img {
    border-radius: 50%;
    width: 60%;
    overflow: hidden;
}

#sidebar #profile #photo, #sidebar #profile #name {
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}

#sidebar #menu-items {
    overflow: hidden;
}

#sidebar #menu-items .item {
    width: var(--width)
}


#sidebar #menu-items .item .icon {
    display: inline-block;
}

#sidebar #menu-items .item .icon,  #sidebar #menu-items .item .title {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}


#sidebar #menu-items .item a {
    display: block;
}

#sidebar #menu-items .item a:hover{
   background-color: var(--hovercolor);
}

#sidebar #menu-items .item .icon {
    box-sizing: border-box;
    padding:  var(--padding);
    width: var(--width-collapsed);
 }

 #sidebar #menu-items .item .icon img {
     width: 100%;
 }

#sidebar #menu-items .item .title {
    padding: var(--padding) 0; 
}


#sidebar #menu-items .separator {
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 5px 0;
}


.menu-expanded {
    width:  var(--width);
    box-shadow:  0 0 10px rgba (0, 0, 0, 0.5);
}

.menu-expanded #header #title {
    display: inline-block;
    width: calc (100% - 50px);
    margin-right: -5px;
    padding:  var(--padding);
}

.menu-expanded #header #title span {
    width:220px;
    overflow: hidden;
    display: inline-block;
}

.menu-expanded #profile #photo {
    width: 200px;
}

.menu-expanded #profile #name {
    width: 100%;
}

.menu-expanded .item {
    width: 100px;
}

.menu-collapsed {
    width: var(--width-collapsed);
}

.menu-collapsed #header #title {
    display: none;
}

.menu-collapsed #profile #name {
    display: none;
}

